{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}

<div class="gradient-background">
    <main class="registration-form">
        <h1 class='inscription'>Inscription</h1>
        <div class="yubel form_row">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword.first, { label: 'Password' }) }}
            {{ form_row(registrationForm.plainPassword.second, { label: 'Confirm Password' }) }}
        
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.address) }}
            {{ form_row(registrationForm.zipcode) }}
            {{ form_row(registrationForm.RGPDContent) }}
            <!-- Ajout d'un accord d'utilisation -->
            <div class="terms-of-use">
                <p>En vous inscrivant, vous acceptez nos <a href="/terms-of-use">Conditions d'utilisation</a> et notre <a href="/privacy-policy">Politique de confidentialité</a>.</p>
            </div>
            <button type="submit" class="submit_button">S'incrire</button>
            {{ form_end(registrationForm) }}
        </div>
    </main>
</div>
{% endblock %}
